header {
  position: absolute;
  padding: 60px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .header-wrapper {
    @include align-center;
    align-items: flex-start;
    justify-content: space-between;
    .logo-link {
      svg path {
        fill: map-get($map: $color, $key: "white-snow");
      }
    }
  }
  .nav-menu {
    @include flex-center;
    .nav-title {
      @include set-font(18px, 700, 27px);
      margin: 0 48px;
      padding-left: 100px;
      .nav-link {
        color: map-get($color, "primary");
      }
    }
  }
  .option-list {
    @include align-center;
    .option-item {
      color: map-get($map: $color, $key: "white-snow");
      margin: 0 12px;
      .option-link {
        color: map-get($map: $color, $key: "white-snow");
      }
    }
    .option-menu {
      display: none;
    }
  }
}
@media screen and (max-width: 480px) {
  header {
    padding: 20px 0;
    background: map-get($color, "white-sonw");
    position: relative;
    .header-wrapper {
      align-items: center;
    }
    .logo {
      @include align-center;
      .logo-link {
        svg path {
          fill: map-get($map: $color, $key: "black-midnight");
        }
      }
    }
    .nav-menu {
      display: none;
    }
    .header-option {
      svg path {
        fill: map-get($map: $color, $key: "black-midnight");
      }
      .option-menu {
        display: block;
        svg path {
          fill: map-get($map: $color, $key: "black-midnight");
        }
      }
      .option-search {
        display: none;
      }
    }
  }
}
