body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  color: #ffffff;
  background-color: #fbb03b;
  padding-top: 45px;
}
footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-top .footer-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
footer .footer-top .footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 19px 0;
}
footer .footer-top .footer-item-social {
  margin-top: 56px;
  display: flex;
  margin-left: -10px;
}
footer .footer-top .footer-item-social .social-item {
  margin: 0 12px;
}
footer .footer-top .footer-title {
  padding-bottom: 28px;
}
footer .footer-top .footer-top-right {
  margin-left: 140px;
}
footer .footer-top .footer-top-right .footer-item {
  margin-bottom: 9px;
}
footer .footer-line {
  border: 1px solid white;
  height: 1px;
}
footer .footer-bottom {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 14px 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  footer .footer-top .footer-item-social {
    display: none;
  }
  footer .footer-top .footer-top-right {
    margin-left: 0;
    padding-bottom: 48px;
  }
  footer .footer-top .footer-title {
    padding-bottom: 16px;
  }
  footer .footer-top .footer-link {
    font-size: 12px;
    line-height: 21px;
  }
}
.container {
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.row {
  display: flex;
  margin: -10px;
  flex-wrap: wrap;
}
.row .col-1 {
  width: 8.33%;
}
.row .col-2 {
  width: 16.67%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.33%;
}
.row .col-5 {
  width: 41.67%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.33%;
}
.row .col-8 {
  width: 66.67%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.33%;
}
.row .col-11 {
  width: 91.67%;
}
.row .col-12 {
  width: 100%;
}
.row [class*=col] {
  padding: 10px;
}
.row.no-gutter [class*=col] {
  padding: 0;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .row {
    margin: -4px;
  }
  .row .col-sm-1 {
    width: 8.33%;
  }
  .row .col-sm-2 {
    width: 16.67%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.33%;
  }
  .row .col-sm-5 {
    width: 41.67%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.33%;
  }
  .row .col-sm-8 {
    width: 66.67%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.33%;
  }
  .row .col-sm-11 {
    width: 91.67%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
  .row [class*=col] {
    padding: 4px;
  }
}
header {
  position: absolute;
  padding: 60px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header .header-wrapper {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}
header .header-wrapper .logo-link svg path {
  fill: #ffffff;
}
header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-menu .nav-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin: 0 48px;
  padding-left: 100px;
}
header .nav-menu .nav-title .nav-link {
  color: #fbb03b;
}
header .option-list {
  display: flex;
  align-items: center;
}
header .option-list .option-item {
  color: #ffffff;
  margin: 0 12px;
}
header .option-list .option-item .option-link {
  color: #ffffff;
}
header .option-list .option-menu {
  display: none;
}

@media screen and (max-width: 480px) {
  header {
    padding: 20px 0;
    position: relative;
  }
  header .header-wrapper {
    align-items: center;
  }
  header .logo {
    display: flex;
    align-items: center;
  }
  header .logo .logo-link svg path {
    fill: #333333;
  }
  header .nav-menu {
    display: none;
  }
  header .header-option svg path {
    fill: #333333;
  }
  header .header-option .option-menu {
    display: block;
  }
  header .header-option .option-menu svg path {
    fill: #333333;
  }
  header .header-option .option-search {
    display: none;
  }
}
.btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 0;
  width: fit-content;
  text-transform: uppercase;
  padding: 14px 20px;
  color: #333333;
  border: none;
  border-radius: 33px;
  outline: none;
  cursor: pointer;
}
.btn.btn-primary {
  padding: 20px 36px;
  background: #fbb03b;
}
.btn.btn-item-banner {
  color: #ffffff;
  display: flex;
  padding: 14px 0;
}
.btn.btn-item {
  padding: 20px 14px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.btn.btn-ligh {
  background-color: white;
  padding: 20px 30px;
  border: 1px solid #c4c4c4;
}
.btn.btn-add-cart {
  padding: 20px 30px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 50%;
  transform: 50%;
  background-color: #fbb03b;
}
.btn.btn.btn-remove {
  background-color: #fbb03b;
}
.btn.btn.btn-increasing {
  padding: 12px;
  background-color: #fbb03b;
  border-radius: 0px;
}
.btn.btn.btn-reduce {
  padding: 12px;
  background-color: #fbb03b;
  border-radius: 0px;
}

input {
  margin-right: 40px;
  padding: 10px 170px 10px 15px;
  border-radius: 61px;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 480px) {
  .btn {
    font-size: 10px;
    line-height: 15px;
  }
  .btn.btn-item {
    padding: 3px 11px;
  }
  .btn.btn-ligh {
    padding: 0;
    border: none;
  }
  .btn.btn-primary {
    padding: 7px 20px;
  }
  input {
    margin-bottom: 24px;
    padding: 6px 120px 6px 6px;
    border-radius: 61px;
    border: 1px solid #ffffff;
  }
}
.badge {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  background: red;
  text-align: center;
  padding: 6px 9px;
  color: #ffffff;
}

.badge-product {
  padding: 6px 9px;
  position: absolute;
  top: 20px;
  left: 20px;
}

@media screen and (max-width: 480px) {
  .badge {
    font-size: 8px;
    border-radius: 9px;
    line-height: 12px;
    padding: 2px 2px;
  }
}
.card {
  display: block;
  position: relative;
  width: 100%;
}
.card .card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-content {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 54px;
  margin-top: 20px;
  color: #333333;
}
.card .card-content .title-product {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #333333;
}
.card .card-content .card-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #808080;
}
.card .card-content .price {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  color: #cecece;
}
.card .card-content .price .description-product {
  color: #333333;
}
.card .card-content .price .description-sale {
  color: #ff0000;
}
.card .card-reason {
  border-radius: 10px;
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.card .hiden {
  display: none;
}

.card:hover .hiden {
  display: block;
}

@media screen and (max-width: 480px) {
  .card .card-content {
    padding-bottom: 0;
    margin-top: 0;
  }
  .card .card-content .title-product {
    font-size: 12px;
    line-height: 18px;
  }
  .card .card-content .price {
    font-size: 10px;
    line-height: 15px;
  }
  .card .card-content .card-description {
    font-size: 10px;
    line-height: 15px;
  }
  .card .card-image .image-product {
    display: block;
    width: 100%;
  }
  .card .title {
    font-size: 12px;
    line-height: 18px;
  }
  .card .sm-content {
    width: 75%;
  }
  .card.sm-card {
    display: flex;
    justify-content: space-between;
  }
}
.js-total {
  font-size: 30px;
  margin: 30px;
}

.js-cartItem {
  background-color: white;
  border: 1px solid black;
}
.js-cartItem .js-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.js-cartItem .js-card .js-image-product {
  width: 150px;
}
.js-cartItem .js-card-quantity {
  padding: 15px;
}

.section-banner {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url(/image/Fashion-home-image9-1.png);
  background-size: cover;
  margin-bottom: 48px;
  position: relative;
}
.section-banner .banner-wrapper {
  padding-top: 222px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 100px;
  height: 800px;
}
.section-banner .banner-wrapper .banner-content {
  color: #ffffff;
}
.section-banner .banner-wrapper .banner-content .banner-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 101.5%;
  margin-bottom: 24px;
}
.section-banner .banner-wrapper .banner-content .banner-title .text-primary {
  color: #fbb03b;
}
.section-banner .banner-wrapper .banner-content .banner-link {
  text-decoration: underline;
}
.section-banner .banner-wrapper .banner-content .banner-link .banner-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-left: 21px;
}
.section-banner .banner-wrapper .service-list {
  width: 80%;
  z-index: 2;
}
.section-banner .banner-wrapper .service-list .card-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-banner .banner-wrapper .service-list .card-horizontal .card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  background-color: #fff3df;
  margin-right: 21px;
  width: 36px;
  height: 36px;
  border-radius: 10px;
}
.section-banner .banner-wrapper .service-list .card-horizontal .title-service {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #333333;
}
.section-banner .banner-wrapper .service-list .card-horizontal .service-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #a8a8a8;
}

.section-banner::after {
  content: " ";
  background-color: #ffffff;
  display: block;
  bottom: 0;
  position: absolute;
  z-index: 1;
  width: 1100px;
  height: 125px;
  border-radius: 0 70px 0 0;
}

.section-collection {
  padding-bottom: 95px;
}
.section-collection .collection-first {
  height: 359px;
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.5) 100%), url(/image/Fashion-home-image5-1.png);
}
.section-collection .collection-second {
  height: 359px;
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.5) 100%), url(/image/Fashion-home-image6-1.png);
}
.section-collection .collection-final {
  height: 359px;
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.5) 100%), url(/image/Fashion-home-image7-1.png);
}
.section-collection .collection-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 53px 41px;
  height: 100%;
}
.section-collection .collection-content .collection-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  height: 100px;
  left: 40px;
  color: #ffffff;
}

.section-foryou .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-foryou .section-heading .section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 34px;
  color: #333333;
}

.section-reason {
  background-color: #f7f7f7;
}
.section-reason .section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  color: #333333;
  padding: 48px 0;
  text-align: center;
}
.section-reason .section-title .title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.section-reason .section-title .card-description {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #808080;
}

.section-today {
  padding-top: 48px;
}
.section-today .section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  padding-bottom: 48px;
}

.section-contact {
  position: relative;
  height: 224px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 33.28%, rgba(0, 0, 0, 0) 94.05%), url(/image/Fashion-home-image81.png);
  background-size: cover;
}
.section-contact .contact-list {
  padding-top: 99px;
}
.section-contact .contact-list .contact-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .section-banner {
    width: 100%;
    height: 840px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url(/image/Fashion-home-image9-2.png);
    background-size: cover;
  }
  .section-banner .banner-wrapper {
    padding-top: 343px;
    padding-left: 0;
  }
  .section-banner .banner-wrapper .banner-content .banner-title {
    font-size: 48px;
    padding-bottom: 22px;
  }
  .section-banner .banner-wrapper .banner-content .banner-link {
    padding-left: 25px;
  }
  .section-banner .banner-wrapper .banner-content .banner-link .banner-text {
    padding-left: 16px;
    font-size: 14px;
  }
  .section-banner .service-list {
    display: none;
  }
  .section-banner::after {
    display: none;
  }
  .section-collection {
    padding-bottom: 48px;
  }
  .section-collection .collection-first {
    height: 224px;
    background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.5) 100%), url(/image/Fashion-home-image5-2.png);
  }
  .section-collection .collection-second {
    height: 225px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.5) 100%), url(/image/Fashion-home.png);
  }
  .section-collection .collection-final {
    height: 225px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.5) 100%), url(/image/Fashion-home-2.png);
  }
  .section-collection .collection-content {
    padding: 0 0 16px 16px;
  }
  .section-collection .collection-content .collection-title {
    width: 50%;
    font-size: 14px;
    height: 70px;
    line-height: 21px;
  }
  .section-collection .collection-content .sm-title {
    width: 80%;
  }
  .section-foryou {
    padding-bottom: 52px;
  }
  .section-foryou .foryou-list {
    margin-top: -25px;
  }
  .section-foryou .section-heading {
    align-items: baseline;
  }
  .section-foryou .section-heading .section-title {
    font-size: 18px;
  }
  .section-reason {
    padding-bottom: 28px;
  }
  .section-reason .section-title {
    font-size: 18px;
    line-height: 27px;
  }
  .section-today {
    padding-bottom: 52px;
  }
  .section-today .section-title {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 27px;
    text-align: inherit;
  }
  .section-contact {
    height: 217px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 33.28%, rgba(0, 0, 0, 0) 94.05%), url(/image/Fashion-home-image8-1.png);
    background-size: cover;
  }
  .section-contact .contact-list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
  }
  .section-contact .contact-list .contact-title {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 21px;
    width: 140%;
  }
}
.txt-bold {
  font-weight: 700;
}

.txt-regular {
  font-weight: 400;
}

.txt-light {
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
