.section-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/image/Fashion-home-image9-1.png);
  background-size: cover;
  margin-bottom: 48px;
  position: relative;
  .banner-wrapper {
    padding-top: 222px;
    @include flex-between;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 100px;
    height: 800px;
    .banner-content {
      color: map-get($map: $color, $key: white-snow);
      .banner-title {
        @include set-font(72px, 700, 101.5%);
        margin-bottom: 24px;
        .text-primary {
          color: map-get($map: $color, $key: primary);
        }
      }
      .banner-link {
        text-decoration: underline;
        .banner-text {
          @include set-font(24px, 700, 36px);
          padding-left: 21px;
        }
      }
    }
    .service-list {
      width: 80%;
      z-index: 2;
      .card-horizontal {
        @include flex-center;
        .card-image {
          @include flex-center;
          align-self: start;
          @include bgc(#fff3df);
          margin-right: 21px;
          width: 36px;
          height: 36px;
          border-radius: 10px;
        }
        .title-service {
          @include set-font(14px, 700, 21px);
          color: map-get($map: $color, $key: black-midnight);
        }
        .service-description {
          @include set-font(12px, 400, 18px);
          color: map-get($map: $color, $key: gray-metal);
        }
      }
    }
  }
}
.section-banner::after {
  content: " ";
  @include bgc(#ffffff);
  display: block;
  bottom: 0;
  position: absolute;
  z-index: 1;
  width: 1100px;
  height: 125px;
  border-radius: 0 70px 0 0;
}
.section-collection {
  padding-bottom: 95px;
  .collection-first {
    height: 359px;
    background-image: linear-gradient(
        180deg,
        rgba(51, 51, 51, 0.5) 0%,
        rgba(51, 51, 51, 0.5) 100%
      ),
      url(/image/Fashion-home-image5-1.png);
  }
  .collection-second {
    height: 359px;
    background-image: linear-gradient(
        180deg,
        rgba(51, 51, 51, 0.5) 0%,
        rgba(51, 51, 51, 0.5) 100%
      ),
      url(/image/Fashion-home-image6-1.png);
  }
  .collection-final {
    height: 359px;
    background-image: linear-gradient(
        180deg,
        rgba(51, 51, 51, 0.5) 0%,
        rgba(51, 51, 51, 0.5) 100%
      ),
      url(/image/Fashion-home-image7-1.png);
  }
  .collection-content {
    @include flex-column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 53px 41px;
    height: 100%;
    .collection-title {
      @include set-font(24px, 400, 36px);
      height: 100px;
      left: 40px;
      color: map-get($map: $color, $key: "white-snow");
    }
  }
}
.section-foryou {
  .section-heading {
    @include flex-between;
    align-items: flex-start;
    .section-title {
      @include set-font(32px, 300, 32px);
      margin-bottom: 34px;
      color: map-get($map: $color, $key: "black-midnight");
    }
  }
}
.section-reason {
  background-color: map-get($map: $color, $key: "gray-bgc");
  .section-title {
    @include set-font(32px, 300, 48px);
    color: map-get($map: $color, $key: "black-midnight");
    padding: 48px 0;
    text-align: center;
    .title {
      @include set-font(16px, 700, 24px);
    }
    .card-description {
      @include set-font(21px, 400, 21px);
      color: map-get($map: $color, $key: "gray-bold");
    }
  }
}
.section-today {
  padding-top: 48px;
  .section-title {
    @include set-font(32px, 300, 48px);
    color: map-get($map: $color, $key: "backmidnight");
    text-align: center;
    padding-bottom: 48px;
  }
}
.section-contact {
  position: relative;
  height: 224px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 33.28%,
      rgba(0, 0, 0, 0) 94.05%
    ),
    url(/image/Fashion-home-image81.png);
  background-size: cover;
  .contact-list {
    padding-top: 99px;
    .contact-title {
      @include set-font(24px, 400, 36px);
      color: map-get($map: $color, $key: "white-snow");
    }
  }
}
@media screen and (max-width: 480px) {
  .section-banner {
    width: 100%;
    height: 840px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(/image/Fashion-home-image9-2.png);
    background-size: cover;
    .banner-wrapper {
      padding-top: 343px;
      padding-left: 0;
      .banner-content {
        .banner-title {
          font-size: 48px;
          padding-bottom: 22px;
        }
        .banner-link {
          padding-left: 25px;
          .banner-text {
            padding-left: 16px;
            font-size: 14px;
          }
        }
      }
    }
    .service-list {
      display: none;
    }
  }
  .section-banner::after {
    display: none;
  }
  .section-collection {
    padding-bottom: 48px;
    .collection-first {
      height: 224px;
      background-image: linear-gradient(
          180deg,
          rgba(51, 51, 51, 0.5) 0%,
          rgba(51, 51, 51, 0.5) 100%
        ),
        url(/image/Fashion-home-image5-2.png);
    }
    .collection-second {
      height: 225px;
      width: 100%;
      background-image: linear-gradient(
          180deg,
          rgba(51, 51, 51, 0.5) 0%,
          rgba(51, 51, 51, 0.5) 100%
        ),
        url(/image/Fashion-home.png);
    }
    .collection-final {
      height: 225px;
      width: 100%;
      background-image: linear-gradient(
          180deg,
          rgba(51, 51, 51, 0.5) 0%,
          rgba(51, 51, 51, 0.5) 100%
        ),
        url(/image/Fashion-home-2.png);
    }
    .collection-content {
      padding: 0 0 16px 16px;
      .collection-title {
        width: 50%;
        font-size: 14px;
        height: 70px;
        line-height: 21px;
      }
      .sm-title {
        width: 80%;
      }
    }
  }
  .section-foryou {
    padding-bottom: 52px;
    .foryou-list {
      margin-top: -25px;
    }
    .section-heading {
      align-items: baseline;
      .section-title {
        font-size: 18px;
      }
    }
  }
  .section-reason {
    padding-bottom: 28px;
    .section-title {
      font-size: 18px;
      line-height: 27px;
    }
  }
  .section-today {
    padding-bottom: 52px;
    .section-title {
      padding-bottom: 16px;
      font-size: 18px;
      line-height: 27px;
      text-align: inherit;
    }
  }
  .section-contact {
    height: 217px;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.7) 33.28%,
        rgba(0, 0, 0, 0) 94.05%
      ),
      url(/image/Fashion-home-image8-1.png);
    background-size: cover;
    .contact-list {
      padding-top: 24px;
      display: flex;
      flex-direction: column;
      .contact-title {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 21px;
        width: 140%;
      }
    }
  }
}
