.btn {
  @include set-font(13px, 700, 0);
  width: fit-content;
  text-transform: uppercase;
  padding: 14px 20px;
  color: map-get($color, "black-midnight");
  border: none;
  border-radius: 33px;
  outline: none;
  cursor: pointer;
  &.btn-primary {
    padding: 20px 36px;
    background: map-get($color, "primary");
  }
  &.btn-item-banner {
    color: map-get($map: $color, $key: "white-snow");
    display: flex;
    padding: 14px 0;
  }
  &.btn-item {
    padding: 20px 14px;
    background-color: map-get($map: $color, $key: "white-snow");
    border: 1px solid map-get($color, "white-snow");
  }
  &.btn-ligh {
    background-color: #ffff;
    padding: 20px 30px;
    border: 1px solid map-get($map: $color, $key: "gray-light");
  }
  &.btn-add-cart {
    padding: 20px 30px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 50%;
    transform: 50%;
    background-color: map-get($map: $color, $key: "primary");
  }
  &.btn.btn-remove {
    background-color: map-get($map: $color, $key: "primary");
  }
  &.btn.btn-increasing {
    padding: 12px;
    background-color: map-get($map: $color, $key: "primary");
    border-radius: 0px;
  }
  &.btn.btn-reduce {
    padding: 12px;
    background-color: map-get($map: $color, $key: "primary");
    border-radius: 0px;
  }
}
input {
  margin-right: 40px;
  padding: 10px 170px 10px 15px;
  border-radius: 61px;
  border: 1px solid map-get($map: $color, $key: "white-snow");
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 10px;
    line-height: 15px;
    &.btn-item {
      padding: 3px 11px;
    }
    &.btn-ligh {
      padding: 0;
      border: none;
    }
    &.btn-primary {
      padding: 7px 20px;
    }
  }
  input {
    margin-bottom: 24px;
    padding: 6px 120px 6px 6px;
    border-radius: 61px;
    border: 1px solid map-get($map: $color, $key: "white-snow");
  }
}
