@mixin bgc($bgcolor: $color) {
  background-color: $bgcolor;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
@mixin align-center {
  display: flex;
  align-items: center;
}
@mixin create-overlayer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@mixin set-font(
  $fontSize: $size,
  $fontWight: $sizeWight,
  $lineHight: $sizeLine
) {
  font-size: $fontSize;
  font-weight: $fontWight;
  line-height: $lineHight;
}
$mobile: 480px;
@mixin responsive_mobile() {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
