$color: (
  primary: #fbb03b,
  secondary: #fff3df,
  white-snow: #ffffff,
  red-fire: #ff0000,
  black-midnight: #333333,
  gray-fog: #f6f6f6,
  gray-light: #c4c4c4,
  gray-cloudy: #cecece,
  gray-mouse: #ababab,
  gray-metal: #a8a8a8,
  gray-bold: #808080,
  gray-bgc: #f7f7f7,
);
$font-primary: Poppins, sans-serif;
